BR2_microblazeel=y
BR2_TOOLCHAIN_BUILDROOT_UCLIBC=y
BR2_TARGET_OPTIMIZATION="-mhard-float -mxl-barrel-shift -mxl-float-convert -mxl-float-sqrt -mxl-pattern-compare -mxl-reorder -mcpu=v8.30.a -Wdouble-promotion"
BR2_DL_DIR="$(HOME)/.buildroot-dl"
BR2_CCACHE=y
BR2_PACKAGE_OVERRIDE_FILE="$(BR2_EXTERNAL_NEXYS_VIDEO_PATH)/local.mk"
BR2_TARGET_GENERIC_HOSTNAME="NEXYS_VIDEO"
BR2_TARGET_GENERIC_ISSUE="Welcome to NEXYS_VIDEO"
BR2_LINUX_KERNEL=y
BR2_LINUX_KERNEL_USE_CUSTOM_CONFIG=y
BR2_LINUX_KERNEL_CUSTOM_CONFIG_FILE="$(BR2_EXTERNAL_NEXYS_VIDEO_PATH)/kernel_mb_defconfig"
BR2_LINUX_KERNEL_CUSTOM_DTS_PATH="$(BR2_EXTERNAL_NEXYS_VIDEO_PATH)/system.dts"
BR2_PACKAGE_DROPWATCH=y
BR2_PACKAGE_ETHTOOL=y
BR2_PACKAGE_IPERF3=y
BR2_PACKAGE_NGREP=y
BR2_PACKAGE_TCPDUMP=y
BR2_TARGET_ROOTFS_CPIO_LZ4=y
BR2_TARGET_ROOTFS_INITRAMFS=y
# BR2_TARGET_ROOTFS_TAR is not set
BR2_PACKAGE_NEXYS_VIDEO_FIRMWARE=y
BR2_PACKAGE_NEXYS_VIDEO_FIRMWARE_BOOTLOADER_NAME=""
